<ul>
<% @cuisine.errors.full_messages.each do |msg|  %>
  <li><%= msg %></li>

<% end %>
</ul>
<%= form_for(@cuisine) do |f| %>
  <div>
  <%= f.label :name, 'Nome' %>
  <%= f.text_field :name %>
  </div>
  <%= f.submit "Enviar"%>
<%end%>  

